<!DOCTYPE html>
<html>
  <head>
    <title>فرانت کار نیستم</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../styles/product-cart.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <img  class="logo" src="../../../public/tour-images/logo.png" alt="" />
        <nav>
          <ul>
            <li><a href="#"> ورود/ثبت نام</a></li>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">محصولات</a></li>
            <li><a href="#">خانه</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
        <div class="product-container">
          <div class="product-image">
            <img src="../../../public/tour-images/tour-img06.jpg" alt="Product Image">
          </div>
          <div class="product-details">
            <h2>Product Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac massa enim.</p>
            <p class="price">$99.99</p>
            <button class="add-to-cart">Add to Cart</button>
          </div>
        </div>
      </main>

    <main>
        <div class="product-cart">
          <div class="product">
            <div class="product-image">
              <img src="product1.jpg" alt="Product 1">
            </div>
            <div class="product-details">
              <h3>Product 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget gravida velit.</p>
              <button class="add-to-cart">Add to Cart</button>
            </div>
          </div>
    
          <div class="product">
            <div class="product-image">
              <img src="product2.jpg" alt="Product 2">
            </div>
            <div class="product-details">
              <h3>Product 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget gravida velit.</p>
              <button class="add-to-cart">Add to Cart</button>
            </div>
          </div>

        <div class="product">
        <div class="product-image">
          <img src="product2.jpg" alt="Product 2">
        </div>
        <div class="product-details">
          <h3>Product 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget gravida velit.</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>

    
          <!-- Add more product boxes here -->
    
        </div>
      </main>
  </body>
</html>
