<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top-bar">
        <p><i class="fa-solid fa-envelope"></i>mahdi1382bbamdad@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> +9928432808</p>
    </div>
    <div class="header">
        <div class="navbar">
            <p>LOGO</p>
            <ul>
                <li><a href="#home">ورود/ثبت نام</a></li>
                <li><a href="#home">تماس با ما</a></li>
                <li><a href="#home">محصولات</a></li>
                <li><a href="#home">خانه</a></li>
            </ul>
        </div>
        <div class="navbar-b">
            <div class="dropdown">
                <select name="" >
                    <option value="1">Categories</option>
                    <option value="2"> New</option>
                    <option value="3">Imported</option>
                    <option value="4">Local</option>
                </select>
            </div>
            <div class="search">
                <input type="search" placeholder="Search...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="cart"><i class="fa-solid fa-cart-shopping"></i><p>0</p></div>
        </div>
    </div>
</body>
</html>