
/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container img {
  width: 7%;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ffcc00;
}
.product-image img {
  width: 20%;
  margin: 2%;
  border-radius: 20%;
}

/* Main styles */
.main-one{
  background-color: #a6a2a2;
  border-color: #333;
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-cart {
    flex-direction: column;
  }

  .product img {
    margin-bottom: 0;
  }
}